<div class="mt-8 md:px-8 lg:px-0 lg:mx-32 md:mt-20">
    @* {/*Banner section*/} *@
    <div class="grid grid-cols-2 gap-8">
        <div class="max-md:col-span-2">
            <h1 class="text-slate-800 text-3xl font-bold">GÓI XÉT NGHIỆM TIỀN HÔN NHÂN</h1>
            <div class="flex flex-col gap-2 text-lg mt-6">
                <p class="flex items-start gap-2">
                    <i class="fas fa-shield-alt flex-shrink-0 text-xl" style="color: #17a34a;"></i>
                    Kiểm tra các rối loạn di truyền tiềm ẩn ảnh hưởng đến sức khỏe của cả cha mẹ và con cái.
                </p>
                <p class="flex items-start gap-2">
                    <i class="fas fa-shield-alt flex-shrink-0 text-xl" style="color: #17a34a;"></i>
                    Phát hiện các bệnh lý như nhiễm trùng đường tiểu, tiểu đường, và vấn đề về thận có thể
                    ảnh
                    hưởng đến khả năng sinh sản.
                </p>
                <p class="flex items-start gap-2">
                    <i class="fas fa-shield-alt flex-shrink-0 text-xl" style="color: #17a34a;"></i>
                    Đánh giá nguy cơ mắc các bệnh như thiếu máu, ung thư máu ở thế hệ kế tiếp.
                </p>
                <p class="flex items-start gap-2">
                    <i class="fas fa-shield-alt flex-shrink-0 text-xl" style="color: #17a34a;"></i>
                    Phân tích tinh dịch và đánh giá toàn diện khả năng sinh sản của nam giới.
                </p>
                <p class="flex items-start gap-2">
                    <i class="fas fa-shield-alt flex-shrink-0 text-xl" style="color: #17a34a;"></i>
                    Kiểm tra tình trạng HIV trước khi có kế hoạch mang thai để bảo vệ sức khỏe chung.
                </p>
                <div class="max-md:col-span-2">
                    <button class="mt-4 bg-blue-500 text-white font-medium px-6 py-2 rounded-lg">Tư vấn
                        miễn
                        phí
                    </button>
                </div>
            </div>
        </div>
        <div class="banner max-md:col-span-2">
            <img src="~/img/banner-tienhonnhan.jpg" alt="hinh anh xet nghiem tong quat"
                class="h-full object-cover rounded-md" />
        </div>
    </div>

    @* {/*FAQ section*/} *@
    <div class=" flex flex-col gap-2 mt-12 md:mt-20">
        <div class="accordion-item bg-blue-300/30 rounded-lg p-6">
            <div class="flex items-center justify-between gap-3">
                <p class="text-black font-medium text-lg md:text-2xl">
                    Những ai nên thực hiện xét nghiệm
                </p>
                <i class="accordion-icon fas fa-plus text-blue-800 text-lg"></i>
            </div>
            <div class="accordion-content transition-all overflow-hidden max-h-0 opacity-0">
                <ul class="list-none flex flex-col gap-2 text-xl">
                    <li class="flex items-center gap-3">
                        <i class="fas fa-check-circle text-blue-600 flex-shrink-0"></i>
                        Cặp đôi chuẩn bị kết hôn và sống chung.
                    </li>
                    <li class="flex items-center gap-3">
                        <i class="fas fa-check-circle text-blue-600 flex-shrink-0"></i>
                        Người có tiền sử bệnh di truyền.
                    </li>
                    <li class="flex items-center gap-3">
                        <i class="fas fa-check-circle text-blue-600 flex-shrink-0"></i>
                        Người có tiền sử bệnh truyền nhiễm.
                    </li>
                    <li class="flex items-center gap-3">
                        <i class="fas fa-check-circle text-blue-600 flex-shrink-0"></i>
                        Người mắc các bệnh mãn tính.
                    </li>
                    <li class="flex items-center gap-3">
                        <i class="fas fa-check-circle text-blue-600 flex-shrink-0"></i>
                        Người có nguy cơ cao mắc bệnh xã hội: HIV, lậu, giang mai.
                    </li>
                    <li class="flex items-center gap-3">
                        <i class="fas fa-check-circle text-blue-600 flex-shrink-0"></i>
                        Người có tiền sử sảy thai, sinh non, hoặc gặp khó khăn trong việc thụ thai.
                    </li>
                </ul>
            </div>
        </div>
        <div class="accordion-item bg-blue-300/30 rounded-lg p-6">
            <div class="flex items-center justify-between gap-3">
                <p class="text-black font-medium text-lg md:text-2xl">
                    Mục đích xét nghiệm tiền hôn nhân
                </p>
                <i class="accordion-icon fas fa-plus text-blue-800 text-lg"></i>
            </div>
            <div class="accordion-content transition-all overflow-hidden max-h-0 opacity-0">
                <p class="text-xl leading-8">
                    Xét nghiệm tiền hôn nhân là một quá trình sàng lọc sức khỏe dành cho các cặp đôi chuẩn
                    bị kết hôn, nhằm kiểm tra sức khỏe tổng thể và nhận diện các yếu tố tiềm ẩn có thể ảnh
                    hưởng đến hạnh phúc gia đình và sức khỏe của con cái sau này. Những xét nghiệm này giúp
                    phát hiện sớm các vấn đề di truyền, bệnh truyền nhiễm, hoặc những nguy cơ tiềm ẩn khác,
                    từ đó giúp các cặp đôi chuẩn bị tốt hơn cho cuộc sống chung.
                </p>
            </div>
        </div>
    </div>
</div>
@* {/*All package section*/} *@
<partial name="~/Views/AllTestingPackage/index.cshtml" />

<script src="~/js/DropdownTestingTips.js"></script>