<div class="mt-8 md:px-8 lg:px-0 lg:mx-32 md:mt-20">
	<h1 class="text-slate-800 font-medium text-3xl">
		Tất cả gói xét nghiệm
	</h1>

	<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-16 mt-8">
		<a href="/goi-xet-nghiem-tong-quat" class="relative w-full">
			<img src="~/img/banner-tongquat.png" class="" />
			<div class="absolute w-3/4 -bottom-6 left-1/2 -translate-x-1/2 bg-white rounded-md p-4 drop-shadow-md">
				<div class="absolute -top-8 left-4 bg-blue-500 text-white font-medium px-3 py-2 rounded-lg">Từ
					799.000 vnđ
				</div>
				<p class="text-slate-800">
					Gói xét nghiệm tổng quát
				</p>

				<div class="flex items-center justify-between text-[12px] mt-4">
					<div class="flex items-center gap-1">
						Từ 5 tuổi
					</div>
					<div class="flex items-center gap-1">
						<i class="fas fa-map-marker-alt text-base"></i>
						TP.HCM
					</div>
				</div>
			</div>
		</a>
		<a href="/goi-xet-nghiem-nipt" class="relative w-full">
			<img src="~/img/banner-nipt.jpg" alt="" class="" />
			<div class="absolute w-3/4 -bottom-6 left-1/2 -translate-x-1/2 bg-white rounded-md p-4 drop-shadow-md">
				<div class="absolute -top-8 left-4 bg-blue-500 text-white font-medium px-3 py-2 rounded-lg">Từ
					1.800.000 vnđ
				</div>
				<p class="text-slate-800">
					Gói xét nghiệm NIPT
				</p>

				<div class="flex items-center justify-between text-[12px] mt-4">
					<div class="flex items-center gap-1">
						Từ tuần thai 10
					</div>
					<div class="flex items-center gap-1">
						<i class="fas fa-map-marker-alt text-base"></i>
						TP.HCM
					</div>
				</div>
			</div>
		</a>
		<a href="/goi-xet-nghiem-vi-chat" class="relative w-full">
			<img src="~/img/banner-vichat.png" alt="" class="" />
			<div class="absolute w-3/4 -bottom-6 left-1/2 -translate-x-1/2 bg-white rounded-md p-4 drop-shadow-md">
				<div class="absolute -top-8 left-4 bg-blue-500 text-white font-medium px-3 py-2 rounded-lg">Từ
					1.000.000 vnđ
				</div>
				<p class="text-slate-800">
					Gói xét nghiệm vi chất
				</p>

				<div class="flex items-center justify-between text-[12px] mt-4">
					<div class="flex items-center gap-1">
						Từ 2 tuổi
					</div>
					<div class="flex items-center gap-1">
						<i class="fas fa-map-marker-alt text-base"></i>
						TP.HCM
					</div>
				</div>
			</div>
		</a>
		<a href="/goi-xet-nghiem-tim-mach" class="relative w-full">
			<img src="~/img/banner-timmach.jpg" alt="" class="" />
			<div class="absolute w-3/4 -bottom-6 left-1/2 -translate-x-1/2 bg-white rounded-md p-4 drop-shadow-md">
				<div class="absolute -top-8 left-4 bg-blue-500 text-white font-medium px-3 py-2 rounded-lg">Từ
					499.000 vnđ
				</div>
				<p class="text-slate-800">
					Gói xét nghiệm tim mạch
				</p>

				<div class="flex items-center justify-between text-[12px] mt-4">
					<div class="flex items-center gap-1">
						Từ 25 tuổi
					</div>
					<div class="flex items-center gap-1">
						<i class="fas fa-map-marker-alt text-base"></i>
						TP.HCM
					</div>
				</div>
			</div>
		</a>
		<a href="/goi-xet-nghiem-tien-hon-nhan" class="relative w-full">
			<img src="~/img/banner-tienhonnhan.jpg" alt="" class="" />
			<div class="absolute w-3/4 -bottom-6 left-1/2 -translate-x-1/2 bg-white rounded-md p-4 drop-shadow-md">
				<div class="absolute -top-8 left-4 bg-blue-500 text-white font-medium px-3 py-2 rounded-lg">Từ
					990.000 vnđ
				</div>
				<p class="text-slate-800">
					Gói xét nghiệm tiền hôn nhân
				</p>

				<div class="flex items-center justify-between text-[12px] mt-4">
					<div class="flex items-center gap-1">
						Từ 18 tuổi
					</div>
					<div class="flex items-center gap-1">
						<i class="fas fa-map-marker-alt text-base"></i>
						TP.HCM
					</div>
				</div>
			</div>
		</a>
		<a href="/goi-xet-nghiem-adn-huyet-thong" class="relative w-full">
			<img src="~/img/banner-and-huyetthong.jpg" alt="" class="" />
			<div class="absolute w-3/4 -bottom-6 left-1/2 -translate-x-1/2 bg-white rounded-md p-4 drop-shadow-md">
				<div class="absolute -top-8 left-4 bg-blue-500 text-white font-medium px-3 py-2 rounded-lg">Từ
					1.990.000 vnđ
				</div>
				<p class="text-slate-800">
					Gói xét nghiệm ADN huyết thống
				</p>

				<div class="flex items-center justify-between text-[12px] mt-4">
					<div class="flex items-center gap-1">
						Mọi lứa tuổi
					</div>
					<div class="flex items-center gap-1">
						<i class="fas fa-map-marker-alt text-base"></i>
						TP.HCM
					</div>
				</div>
			</div>
		</a>
	</div>
</div>