<div class="mt-8 md:px-8 lg:px-0 lg:mx-32 md:mt-20">
    @* {/*Banner section*/} *@
    <div class="grid grid-cols-2 gap-8">
        <div class="max-md:col-span-2">
            <h1 class="text-slate-800 text-3xl font-bold">GÓI XÉT NGHIỆM NIPT</h1>
            <div class="flex flex-col gap-2 text-lg mt-6">
                <p class="flex items-start gap-2">
                    <i class="fas fa-shield-alt flex-shrink-0 text-xl" style="color: #17a34a;"></i>
                    Phát hiện các hội chứng di truyền như Down, Edwards, Patau với độ chính xác lên đến
                    99,9%.
                </p>
                <p class="flex items-start gap-2">
                    <i class="fas fa-shield-alt flex-shrink-0 text-xl" style="color: #17a34a;"></i>
                    Không xâm lấn, không gây đau đớn, đảm bảo an toàn cho cả mẹ và bé.
                </p>
                <p class="flex items-start gap-2">
                    <i class="fas fa-shield-alt flex-shrink-0 text-xl" style="color: #17a34a;"></i>
                    Có thể tiến hành từ tuần thai thứ 9, giúp phát hiện nguy cơ sớm nhất có thể.
                </p>
                <p class="flex items-start gap-2">
                    <i class="fas fa-shield-alt flex-shrink-0 text-xl" style="color: #17a34a;"></i>
                    Quy trình xét nghiệm hiện đại, tiết kiệm thời gian, mang đến sự an tâm tối đa.
                </p>
                <div class="max-md:col-span-2">
                    <button class="mt-4 bg-blue-500 text-white font-medium px-6 py-2 rounded-lg">Tư vấn
                        miễn
                        phí
                    </button>
                </div>
            </div>
        </div>
        <div class="banner max-md:col-span-2">
            <img src="~/img/banner-nipt.jpg" alt="hinh anh xet nghiem tong quat"
                class="h-full object-cover rounded-md" />
        </div>
    </div>

    @* {/*FAQ section*/} *@
    <div class=" flex flex-col gap-2 mt-12 md:mt-20">
        <div class="accordion-item bg-blue-300/30 rounded-lg p-6">
            <div class="flex items-center justify-between gap-3">
                <p class="text-black font-medium text-lg md:text-2xl">
                    Những ai nên thực hiện xét nghiệm
                </p>
                <i class="accordion-icon fas fa-plus text-blue-800 text-lg"></i>
            </div>
            <div class="transition-all accordion-content overflow-hidden max-h-0 opacity-0">
                <ul class="list-none flex flex-col gap-2 text-xl">
                    <li class="flex items-center gap-3">
                        <i class="fas fa-check-circle text-blue-600 flex-shrink-0"></i>
                        Mẹ bầu từ 35 tuổi trở lên.
                    </li>
                    <li class="flex items-center gap-3">
                        <i class="fas fa-check-circle text-blue-600 flex-shrink-0"></i>
                        Có tiền sử sảy thai, thai lưu, hoặc sinh non.
                    </li>
                    <li class="flex items-center gap-3">
                        <i class="fas fa-check-circle text-blue-600 flex-shrink-0"></i>
                        Từng sinh con mắc dị tật bẩm sinh.
                    </li>
                    <li class="flex items-center gap-3">
                        <i class="fas fa-check-circle text-blue-600 flex-shrink-0"></i>
                        Gia đình có tiền sử mắc bệnh di truyền.
                    </li>
                    <li class="flex items-center gap-3">
                        <i class="fas fa-check-circle text-blue-600 flex-shrink-0"></i>
                        Kết quả Double Test hoặc Triple Test cho thấy nguy cơ cao.
                    </li>
                    <li class="flex items-center gap-3">
                        <i class="fas fa-check-circle text-blue-600 flex-shrink-0"></i>
                        Siêu âm phát hiện các dấu hiệu bất thường ở thai nhi.
                    </li>
                    <li class="flex items-center gap-3">
                        <i class="fas fa-check-circle text-blue-600 flex-shrink-0"></i>
                        Làm việc trong môi trường độc hại, tiếp xúc với nhiều hóa chất.
                    </li>
                </ul>
            </div>
        </div>
        <div class="accordion-item bg-blue-300/30 rounded-lg p-6">
            <div class="flex items-center justify-between gap-3">
                <p class="text-black font-medium text-lg md:text-2xl">
                    Mục đích xét nghiệm NIPT
                </p>
                <i class="accordion-icon fas fa-plus text-blue-800 text-lg"></i>
            </div>
            <div class="accordion-content transition-alloverflow-hidden max-h-0 opacity-0">
                <p class="text-xl leading-8">
                    NIPT (Non-Invasive Prenatal Testing) là phương pháp sàng lọc trước sinh không xâm lấn,
                    giúp
                    phát hiện sớm các bất thường nhiễm sắc thể (NST) ở thai nhi. Phương pháp này sử dụng mẫu
                    máu
                    người mẹ để phân tích ADN tự do của thai nhi, nhằm phát hiện các hội chứng di truyền
                    như:
                </p>
                <ul class="list-none px-4 mt-4 flex flex-col gap-2 text-xl">
                    <li class="flex items-center gap-3">
                        <i class="fas fa-check-circle text-blue-600 flex-shrink-0"></i>
                        Hội chứng Down, Edwards, Patau
                    </li>
                    <li class="flex items-center gap-3">
                        <i class="fas fa-check-circle text-blue-600 flex-shrink-0"></i>
                        Rối loạn NST giới tính: Turner, Klinefelter
                    </li>
                </ul>
            </div>
        </div>
        <div class="accordion-item bg-blue-300/30 rounded-lg p-6">
            <div class="flex items-center justify-between gap-3">
                <p class="text-black font-medium text-lg md:text-2xl">
                    Ưu điểm của gói xét nghiệm NIPT
                </p>
                <i class="accordion-icon fas fa-plus text-blue-800 text-lg"></i>
            </div>
            <div class="accordion-content transition-all overflow-hidden max-h-0 opacity-0">
                <ul class="list-none flex flex-col gap-2 text-xl">
                    <li class="flex items-start gap-3">
                        <i class="fas fa-check-circle text-blue-600 flex-shrink-0"></i>
                        An toàn tuyệt đối: Không xâm lấn, không gây nguy hiểm cho mẹ và thai nhi.
                    </li>
                    <li class="flex items-start gap-3">
                        <i class="fas fa-check-circle text-blue-600 flex-shrink-0"></i>
                        Độ chính xác cao: Lên đến 99,9% đối với các hội chứng NST phổ biến.
                    </li>
                    <li class="flex items-start gap-3">
                        <i class="fas fa-check-circle text-blue-600 flex-shrink-0"></i>
                        Thực hiện sớm: Có thể tiến hành từ tuần thai thứ 9.
                    </li>
                    <li class="flex items-start gap-3">
                        <i class="fas fa-check-circle text-blue-600 flex-shrink-0"></i>
                        Thời gian trả kết quả nhanh: Chỉ trong vòng 7-11 ngày.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
@* {/*All package section*/} *@
<partial name="~/Views/AllTestingPackage/index.cshtml" />

<script src="~/js/DropdownTestingTips.js"></script>