<div class="mt-8 md:px-8 lg:px-0 lg:mx-32 md:mt-20">
    @* {/*Banner section*/} *@
    <div class="grid grid-cols-2 gap-8">
        <div class="max-md:col-span-2">
            <h1 class="text-slate-800 text-3xl font-bold">GÓI XÉT NGHIỆM TỔNG QUÁT</h1>
            <div class="flex flex-col gap-2 text-lg mt-6">
                <p class="flex items-start gap-2">
                    <i class="fas fa-shield-alt flex-shrink-0 text-xl" style="color: #17a34a;"></i>
                    Đánh giá chi tiết 36 chỉ số quan trọng của cơ thể.
                </p>
                <p class="flex items-start gap-2">
                    <i class="fas fa-shield-alt flex-shrink-0 text-xl" style="color: #17a34a;"></i>
                    Phát hiện sớm các nguy cơ bệnh lý về tim mạch, gan, thận, tiểu đường, mỡ máu,...
                </p>
                <p class="flex items-start gap-2">
                    <i class="fas fa-shield-alt flex-shrink-0 text-xl" style="color: #17a34a;"></i>
                    Bác sĩ chuyên khoa hỗ trợ giải thích kết quả và tư vấn sức khỏe trực tiếp.
                </p>
                <p class="flex items-start gap-2">
                    <i class="fas fa-shield-alt flex-shrink-0 text-xl" style="color: #17a34a;"></i>
                    Thủ tục nhanh gọn, không chờ đợi lâu.
                </p>
                <p class="flex items-start gap-2">
                    <i class="fas fa-shield-alt flex-shrink-0 text-xl" style="color: #17a34a;"></i>
                    Dịch vụ linh hoạt, làm việc cả cuối tuần.
                </p>
                <div>
                    <button class="mt-4 bg-blue-500 text-white font-medium px-6 py-2 rounded-lg">Tư vấn
                        miễn
                        phí
                    </button>
                </div>
            </div>
        </div>
        <div class="banner max-md:col-span-2">
            <img src="~/img/banner-tongquat.png" alt="hinh anh xet nghiem tong quat"
                class="h-full object-cover rounded-md" />
        </div>
    </div>

    @* {/*FAQ section*/} *@
    <div class="flex flex-col gap-2 mt-12 md:mt-20">
        <div class="accordion-item bg-blue-300/30 rounded-lg p-6">
            <div class="flex items-center justify-between gap-3">
                <p class="text-black font-medium text-lg md:text-2xl">
                    Những ai nên thực hiện xét nghiệm
                </p>
                <i class="accordion-icon fas fa-plus text-blue-800 text-lg"></i>
            </div>
            <div class="accordion-content transition-all content-accordion overflow-hidden max-h-0 opacity-0">
                <ul class="list-none flex flex-col gap-2 text-xl">
                    <li class="flex items-start gap-3">
                        <i class="fas fa-check-circle text-blue-600 flex-shrink-0"></i>
                        Người cao tuổi: Đối tượng dễ gặp các vấn đề sức khỏe cần được theo dõi định kỳ.
                    </li>
                    <li class="flex items-start gap-3">
                        <i class="fas fa-check-circle text-blue-600 flex-shrink-0"></i>
                        Người có dấu hiệu bất thường: Mệt mỏi, sụt cân hoặc tăng cân không rõ nguyên nhân.
                    </li>
                    <li class="flex items-start gap-3">
                        <i class="fas fa-check-circle text-blue-600 flex-shrink-0"></i>
                        Người có tiền sử bệnh lý: Mắc bệnh mãn tính hoặc gia đình có tiền sử bệnh lý.
                    </li>
                    <li class="flex items-start gap-3">
                        <i class="fas fa-check-circle text-blue-600 flex-shrink-0"></i>
                        Môi trường làm việc độc hại: Thường xuyên tiếp xúc hóa chất hoặc các yếu tố nguy
                        hiểm.
                    </li>
                    <li class="flex items-start gap-3">
                        <i class="fas fa-check-circle text-blue-600 flex-shrink-0"></i>
                        Trẻ em: Đối tượng cần kiểm tra sức khỏe định kỳ để phát triển toàn diện.
                    </li>
                    <li class="flex items-start gap-3">
                        <i class="fas fa-check-circle text-blue-600 flex-shrink-0"></i>
                        Phụ nữ mang thai hoặc dự định mang thai: Đảm bảo sức khỏe mẹ và bé được chăm sóc tốt
                        nhất.
                    </li>
                </ul>
            </div>
        </div>
        <div class="accordion-item bg-blue-300/30 rounded-lg p-6">
            <div class="flex items-center justify-between gap-3">
                <p class="text-black font-medium text-lg md:text-2xl">
                    Mục đích của xét nghiệm tổng quát
                </p>
                <i class="accordion-icon fas fa-plus text-blue-800 text-lg"></i>
            </div>
            <div class="accordion-content transition-all content-accordion overflow-hidden max-h-0 opacity-0">
                <p class="text-xl leading-8">
                    Gói xét nghiệm tổng quát của Medlab được xây dựng nhằm phát hiện sớm các vấn đề sức khỏe
                    tiềm ẩn
                    có thể gây ảnh hưởng nghiêm trọng đến cơ thể. Việc kiểm tra định kỳ giúp bạn chủ động
                    theo
                    dõi
                    và ngăn ngừa các nguy cơ sức khỏe trước khi chúng tiến triển thành các bệnh lý phức tạp
                    hoặc
                    mãn
                    tính. Đồng thời, gói xét nghiệm bên Medlab còn hỗ trợ bạn đưa ra các quyết định sáng
                    suốt về
                    chăm sóc sức khỏe và điều chỉnh lối sống phù hợp, góp phần bảo vệ sức khỏe lâu dài.
                </p>
            </div>
        </div>
    </div>
</div>

<partial name="~/Views/AllTestingPackage/index.cshtml" />

<script src="~/js/DropdownTestingTips.js"></script>
