<div class="mt-8 md:px-8 lg:px-0 lg:mx-32 md:mt-20">
    @* {/*Banner section*/} *@
    <div class="grid grid-cols-2 gap-8">
        <div class="max-md:col-span-2">
            <h1 class="text-slate-800 text-3xl font-bold">GÓI XÉT NGHIỆM VI CHẤT</h1>
            <div class="flex flex-col gap-2 text-lg mt-6">
                <p class="flex items-start gap-2">
                    <i class="fas fa-shield-alt flex-shrink-0 text-xl" style="color: #17a34a;"></i>
                    Kiểm tra 11 dưỡng chất quan trọng cho sức khỏe ở mọi lứa tuổi.
                </p>
                <p class="flex items-start gap-2">
                    <i class="fas fa-shield-alt flex-shrink-0 text-xl" style="color: #17a34a;"></i>
                    Giúp phát hiện và điều trị các vấn đề dinh dưỡng.
                </p>
                <p class="flex items-start gap-2">
                    <i class="fas fa-shield-alt flex-shrink-0 text-xl" style="color: #17a34a;"></i>
                    Giám sát sức khỏe gan, thận, tim và các bệnh lý liên quan.
                </p>
                <p class="flex items-start gap-2">
                    <i class="fas fa-shield-alt flex-shrink-0 text-xl" style="color: #17a34a;"></i>
                    Đảm bảo sự phát triển thể chất và trí tuệ toàn diện cho trẻ nhỏ.
                </p>
                <p class="flex items-start gap-2">
                    <i class="fas fa-shield-alt flex-shrink-0 text-xl" style="color: #17a34a;"></i>
                    Xét nghiệm đơn giản, kết quả có sẵn trực tuyến trong ngày.
                </p>
                <div class="max-md:col-span-2">
                    <button class="mt-4 bg-blue-500 text-white font-medium px-6 py-2 rounded-lg">Tư vấn
                        miễn
                        phí
                    </button>
                </div>
            </div>
        </div>
        <div class="banner max-md:col-span-2">
            <img src="~/img/banner-vichat.png" alt="hinh anh xet nghiem tong quat"
                class="h-full object-cover rounded-md" />
        </div>
    </div>

    @* {/*FAQ section*/} *@
    <div class="flex flex-col gap-2 mt-12 md:mt-20">
        <div class="accordion-item bg-blue-300/30 rounded-lg p-6">
            <div class="flex items-center justify-between gap-3">
                <p class="text-black font-medium text-lg md:text-2xl">
                    Những ai nên thực hiện xét nghiệm
                </p>
                <i class="accordion-icon fas fa-plus text-blue-800 text-lg"></i>
            </div>
            <div class="accordion-content transition-all content-accordion overflow-hidden max-h-0 opacity-0">
                <ul class="list-none flex flex-col gap-2 text-xl">
                    <li class="flex items-center gap-3">
                        <i class="fas fa-check-circle text-blue-600 flex-shrink-0"></i>
                        Thể trạng yếu: Người gầy, dễ bị ốm, thiếu sức đề kháng.
                    </li>
                    <li class="flex items-center gap-3">
                        <i class="fas fa-check-circle text-blue-600 flex-shrink-0"></i>
                        Thiếu dưỡng chất: Biểu hiện mệt mỏi, chuột rút, rụng tóc, yếu cơ.
                    </li>
                    <li class="flex items-center gap-3">
                        <i class="fas fa-check-circle text-blue-600 flex-shrink-0"></i>
                        Dư thừa dưỡng chất: Buồn nôn, đau bụng, nguy cơ mắc sỏi thận.
                    </li>
                    <li class="flex items-center gap-3">
                        <i class="fas fa-check-circle text-blue-600 flex-shrink-0"></i>
                        Trẻ nhỏ: Cần bổ sung vi chất trong giai đoạn phát triển.
                    </li>
                    <li class="flex items-center gap-3">
                        <i class="fas fa-check-circle text-blue-600 flex-shrink-0"></i>
                        Phụ nữ mang thai hoặc cho con bú: Cần dưỡng chất để phát triển sức khỏe của cả mẹ và
                        bé.
                    </li>
                    <li class="flex items-center gap-3">
                        <i class="fas fa-check-circle text-blue-600 flex-shrink-0"></i>
                        Vận động viên và người tập thể thao: Cần bổ sung dưỡng chất để duy trì sức bền và
                        phục hồi.
                    </li>
                    <li class="flex items-center gap-3">
                        <i class="fas fa-check-circle text-blue-600 flex-shrink-0"></i>
                        Làm việc trong môi trường độc hại, tiếp xúc với nhiều hóa chất.
                    </li>
                </ul>
            </div>
        </div>
        <div class="accordion-item bg-blue-300/30 rounded-lg p-6">
            <div class="flex items-center justify-between gap-3">
                <p class="text-black font-medium text-lg md:text-2xl">
                    Mục đích xét nghiệm vi chất
                </p>
                <i class="accordion-icon fas fa-plus text-blue-800 text-lg"></i>
            </div>
            <div class="accordion-content transition-all content-accordion overflow-hidden max-h-0 opacity-0">
                <p class="text-xl leading-8">
                    Xét nghiệm nhằm xác định mức độ thiếu hụt hoặc thừa các dưỡng chất quan trọng như
                    vitamin D, B12, canxi, sắt, magie và các điện giải (natri, kali, clorua). Điều này giúp
                    hỗ trợ bác sĩ chẩn đoán và điều trị các rối loạn dinh dưỡng, bệnh lý liên quan đến hệ
                    thần kinh, co thắt cơ, điều hòa nhịp tim, và các chức năng cơ bản khác, từ đó duy trì
                    sức khỏe tổng thể.
                </p>
            </div>
        </div>
    </div>
</div>
@* {/*All package section*/} *@
<partial name="~/Views/AllTestingPackage/index.cshtml" />

<script src="~/js/DropdownTestingTips.js"></script>