@{
	var currentUrl = Context.Request.Path.ToString().ToLower();
}

<aside class="sticky top-[61px] flex flex-col drop-shadow-md box-border" style="height: calc(100vh - 61px);">
	<div class=" flex flex-col justify-between gap-8 md:gap-0 flex-1 pt-5 px-5 pb-4 border-r-[1px] border-gray-400/30">
		<nav class="-mx-3 space-y-3 max-sm:flex max-sm:flex-col max-sm:gap-4">
			<a href="/admin/blog"
				class="@(currentUrl.Equals("/admin/blog") ? "bg-gray-200 before:absolute before:right-[-9px] before:h-8 before:w-[2px] before:bg-bluePrimary" : "") flex items-center justify-center md:px-3 md:py-2 text-gray-600 transition-color rounded-lg relative">
				<i class="text-2xl text-gray-600 fas fa-file"></i>
			</a>
			<a href="/admin/service"
				class="@(currentUrl.Equals("/admin/service") ? "bg-gray-200 before:absolute before:right-[-9px] before:h-8 before:w-[2px] before:bg-bluePrimary" : "") flex items-center justify-center md:px-3 md:py-2 text-gray-600 transition-color rounded-lg relative">
				<i class="text-2xl text-gray-600 fas fa-briefcase-medical"></i>
			</a>
			<a href="/admin/booking"
				class="@(currentUrl.Equals("/admin/booking") ? "bg-gray-200 before:absolute before:right-[-9px] before:h-8 before:w-[2px] before:bg-bluePrimary" : "") flex items-center justify-center md:px-3 md:py-2 text-gray-600 transition-color rounded-lg relative">
				<i class="text-2xl text-gray-600 fas fas fa-calendar-day"></i>
			</a>
		</nav>
	</div>
</aside>