<!DOCTYPE html>
<html>
@await Html.PartialAsync("_Head")

<body>
	<div class="min-h-screen">
		<partial name="_AdminHeader.cshtml" />
		<div class="layout-wrapper wrapper grid grid-cols-7 md:grid-cols-8">
			@* {/* Content Wrapper */} *@
			<div class="col-span-1 md:col-span-1 mt-[61px]">
				<partial name="_AdminSidebarLeft.cshtml" />
			</div>
			<div class="col-span-6 md:col-span-7 overflow-auto mx-0 md:mx-8">
				<div class="mt-[80px]">
					@RenderBody()
				</div>
			</div>
		</div>
	</div>
</body>

</html>