<div class="md:px-8 lg:px-0 lg:mx-32 md:mt-20">
	<div class="grid grid-cols-1 md:grid-cols-2 gap-2 md:gap-4">
		<div class="row-span-2 flex flex-col justify-center gap-4 md:gap-8 items-start">
			<h1 class="text-bold text-xl md:text-4xl leading-6 md:leading-10"><span class="text-blue-600">Sức
					khỏe</span> của bạn là <span class="text-orange-500">trách nghiệm</span> của
				Medlab Vĩnh Viễn</h1>
			<p class="inline md:hidden text-slate-600 md:text-lg">Medlab tận tâm mang đến giải pháp y tế
				hiện
				đại, đồng hành cùng bạn để sống khỏe và hạnh phúc mỗi ngày.</p>
			<p class="hidden md:inline text-slate-600 md:text-lg">Medlab luôn tận tâm mang đến các giải
				pháp y tế hiện đại, tiên tiến và toàn diện, đồng hành cùng bạn trong mọi hành trình chăm sóc
				sức khỏe, giúp bạn sống khỏe mạnh, vui vẻ và hạnh phúc hơn mỗi ngày.</p>
			<button class="flex items-center justify-center md:justify-normal gap-2 text-sm md:text-sm w-full md:w-auto
				font-medium bg-blue-600 hover:bg-blue-700 duration-300 rounded-lg leading-4 pl-2 md:pl-4 py-2 md:py-1.5
				pr-1.5 md:pr-3.5 text-white">
				<MdOutlineEditCalendar class="text-sm md:text-lg" />
				Đặt lịch xét nghiệm
			</button>
		</div>
		<div class="row-span-2 mt-4 md:mt-0">
			<img src="~/img/medlab-1.png" alt="" class="h-96 w-full object-cover rounded-lg" />
		</div>
	</div>

	<div class="grid grid-cols-2 md:grid-cols-5 rounded-lg mt-8 md:mt-16 gap-2 md:gap-4">
		<div class="bg-slate-100 p-4 flex flex-col gap-2 items-center justify-center rounded-2xl">
			<h2 class="text-lg md:text-2xl font-medium text-blue-600">35.5k</h2>
			<p class="text-sm md:text-base text-nowrap font-semibold text-slate-800">Khách hàng</p>
		</div>
		<div class="bg-slate-100 p-4 flex flex-col gap-2 items-center justify-center rounded-2xl">
			<h2 class="text-lg md:text-2xl font-medium text-blue-600">10+</h2>
			<p class="text-sm md:text-base text-nowrap font-semibold text-slate-800">Dịch vụ</p>
		</div>
		<div class="bg-slate-100 p-4 flex flex-col gap-2 items-center justify-center rounded-2xl">
			<h2 class="text-lg md:text-2xl font-medium text-blue-600">8+</h2>
			<p class="text-sm md:text-base text-nowrap font-semibold text-slate-800">Năm kinh nghiệm</p>
		</div>
		<div class="bg-slate-100 p-4 flex flex-col gap-2 items-center justify-center rounded-2xl">
			<h2 class="text-lg md:text-2xl font-medium text-blue-600">15+</h2>
			<p class="text-sm md:text-base text-nowrap font-semibold text-slate-800">Đối tác</p>
		</div>
		<div
			class="col-span-2 md:col-span-1 bg-slate-100 p-4 flex flex-col gap-2 items-center justify-center rounded-2xl">
			<h2 class="text-lg md:text-2xl font-medium text-blue-600">95%</h2>
			<p class="text-sm md:text-base text-nowrap font-semibold text-slate-800">Khách hàng quay
				lại</p>
		</div>
	</div>
</div>

@* {/*Đội ngũ section*/} *@
<div class="mt-8 md:mt-20 md:px-8 lg:px-0 lg:mx-32">
	<div class="text-center">
		<p class="text-sky-500 text-sm md:text-lg font-medium mx-auto font-sans">Đội Ngũ</p>
		<p class="text-slate-800 text-base sm:text-lg md:text-2xl mx-auto mt-2">Bác sĩ chuyên ngành
			trình độ cao</p>
	</div>

	<div class="grid grid-cols-2 md:grid-cols-4 gap-4 mt-8">
		<div class="relative bg-white ring-slate-300 rounded-lg h-48 md:h-80">
			<div class="absolute inset-0 bg-cover bg-center opacity-45 rounded-lg"
				style="background-image: url('@Url.Content("~/img/background-2.jpg")');"></div>
			<div>
				<div class="w-full text-center mt-2 md:mt-8">
					<h2 class="text-black md:text-xl">Nguyễn Trường Vũ</h2>
					<p class="text-blue-600 text-sm font-semibold tracking-wider">Bác sĩ</p>
				</div>
				<img src="~/img/doctor-2.png" alt="Doctor"
					class="absolute w-24 md:w-48 bottom-0 left-1/2 transform -translate-x-1/2 z-10" />
			</div>
		</div>
		<div class="relative bg-white ring-slate-300 rounded-lg h-52 md:h-80">
			<div class="absolute inset-0 bg-cover bg-center opacity-45 rounded-lg"
				style="background-image: url('@Url.Content("~/img/background-2.jpg")');"></div>
			<div>
				<div class="w-full text-center mt-2 md:mt-8">
					<h2 class="text-black md:text-xl">Nguyễn Trường Vũ</h2>
					<p class="text-blue-600 text-sm font-semibold tracking-wider">Bác sĩ</p>
				</div>
				<img src="~/img/doctor-2.png" alt="Doctor"
					class="absolute w-24 md:w-48 bottom-0 left-1/2 transform -translate-x-1/2 z-10" />
			</div>
		</div>
		<div class="relative bg-white ring-slate-300 rounded-lg h-52 md:h-80">
			<div class="absolute inset-0 bg-cover bg-center opacity-45 rounded-lg"
				style="background-image: url('@Url.Content("~/img/background-2.jpg")');"></div>
			<div>
				<div class="w-full text-center mt-2 md:mt-8">
					<h2 class="text-black md:text-xl">Nguyễn Trường Vũ</h2>
					<p class="text-blue-600 text-sm font-semibold tracking-wider">Bác sĩ</p>
				</div>
				<img src="~/img/doctor-2.png" alt="Doctor"
					class="absolute w-24 md:w-48 bottom-0 left-1/2 transform -translate-x-1/2 z-10" />
			</div>
		</div>
		<div class="relative bg-white ring-slate-300 rounded-lg h-52 md:h-80">
			<div class="absolute inset-0 bg-cover bg-center opacity-45 rounded-lg"
				style="background-image: url('@Url.Content("~/img/background-2.jpg")');"></div>
			<div>
				<div class="w-full text-center mt-2 md:mt-8">
					<h2 class="text-black md:text-xl">Nguyễn Trường Vũ</h2>
					<p class="text-blue-600 text-sm font-semibold tracking-wider">Bác sĩ</p>
				</div>
				<img src="~/img/doctor-2.png" alt="Doctor"
					class="absolute w-24 md:w-48 bottom-0 left-1/2 transform -translate-x-1/2 z-10" />
			</div>
		</div>
	</div>
</div>

@* {/*Dịch vụ chất lượng section*/} *@
<div class="mt-8 md:mt-20 md:px-8 lg:px-0 lg:mx-32">
	<div class="grid grid-cols-1 gap-2  sm:gap-16">
		<div class="flex flex-col items-start gap-4">
			<h3 class="text-sky-500 text-sm md:text-lg font-medium font-sans">Dịch vụ chất
				lượng</h3>
			<h2 class="text-slate-800 text-4xl leading-10">Tại sao nên chọn chúng tôi ?</h2>
		</div>
	</div>

	<div class="grid grid-cols-2 sm:grid-cols-3 gap-x-6 gap-y-12 sm:gap-x-16 sm:gap-y-16 mt-12">
		<div class="grid-item flex flex-col items-start justify-between">
			<div>
				<div class="flex flex-col sm:flex-row justify-start items-start sm:items-end gap-2">
					<div class="p-2 w-[2rem] h-[2rem] flex justify-center items-center rounded-full bg-slate-200">
						<div class="p-2  rounded-full bg-slate-200"><svg stroke="currentColor" fill="currentColor"
								stroke-width="0" viewBox="0 0 24 24" class="text-lg text-blue-500" height="1em"
								width="1em" xmlns="http://www.w3.org/2000/svg">
								<path
									d="M12.0049 13.0028C13.6617 13.0028 15.0049 14.346 15.0049 16.0028C15.0049 16.8519 14.6521 17.6187 14.0851 18.1645L12.175 20.0024L15.0049 20.0028V22.0028H9.00488L9.00398 20.2784L12.6983 16.7234C12.8874 16.5411 13.0049 16.2857 13.0049 16.0028C13.0049 15.4505 12.5572 15.0028 12.0049 15.0028C11.4526 15.0028 11.0049 15.4505 11.0049 16.0028H9.00488C9.00488 14.346 10.348 13.0028 12.0049 13.0028ZM18.0049 13.0028V17.0028H20.0049V13.0028H22.0049V22.0028H20.0049V19.0028H16.0049V13.0028H18.0049ZM4.00488 12.0028C4.00488 14.5294 5.17612 16.7824 7.00527 18.2485L7.0049 20.665C4.01588 18.9359 2.00488 15.7042 2.00488 12.0028H4.00488ZM12.0049 2.00281C17.1902 2.00281 21.4537 5.94943 21.9555 11.0027L19.943 11.0029C19.4509 7.05652 16.0845 4.00281 12.0049 4.00281C9.2551 4.00281 6.82935 5.39014 5.3894 7.50305L8.00488 7.50281V9.50281H2.00488V3.50281H4.00488L4.00477 6.00198C5.82922 3.57356 8.73362 2.00281 12.0049 2.00281Z">
								</path>
							</svg></div>
					</div>
					<p class="text-slate-800 text-base font-medium sm:text-lg">Trực tuyến 24/7</p>
				</div>
				<p class="mt-1 sm:mt-3 text-slate-600 text-sm md:text-base leading-6 text-left">
					Đội ngũ chuyên gia y tế giàu kinh nghiệm luôn sẵn sàng hỗ trợ, giải đáp mọi thắc mắc của bạn bất kể
					ngày hay đêm.
				</p>
			</div>
		</div>
		<div class="grid-item flex flex-col items-start justify-between">
			<div>
				<div class="flex flex-col sm:flex-row justify-start items-start sm:items-end gap-2">
					<div class="p-2 w-[2rem] h-[2rem] rounded-full bg-slate-200"><svg stroke="currentColor"
							fill="currentColor" stroke-width="0" viewBox="0 0 512 512" class="text-lg text-blue-500"
							height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
							<path
								d="M376.2 224H268l52.4-186.9c.9-4.5-4.6-7.1-7.2-3.4L129.5 274.6c-3.8 5.6-.2 13.4 6.3 13.4H244l-52.4 186.9c-.9 4.5 4.6 7.1 7.2 3.4l183.7-240.8c3.7-5.7.2-13.5-6.3-13.5z">
							</path>
						</svg></div>
					<p class="text-slate-800 text-base font-medium sm:text-lg">Trả kết quả nhanh
					</p>
				</div>
				<p class="mt-1 sm:mt-3 text-slate-600 text-sm md:text-base leading-6 text-left">
					Cung cấp kết quả xét nghiệm trong thời gian ngắn nhất, đảm bảo độ chính xác cao và thông tin kịp
					thời.
				</p>
			</div>
		</div>
		<div class="grid-item flex flex-col items-start justify-between">
			<div>
				<div class="flex flex-col sm:flex-row justify-start items-start sm:items-end gap-2">
					<div class="p-2 w-[2rem] h-[2rem] rounded-full bg-slate-200 flex justify-center items-center">
						<i class="far fa-calendar-check w-[1rem] text-blue-500"></i>
					</div>
					<p class="text-slate-800 text-base font-medium sm:text-lg">Đặt lịch dễ dàng</p>
				</div>
				<p class="mt-1 sm:mt-3 text-slate-600 text-sm md:text-base leading-6 text-left">
					Đặt lịch xét nghiệm dễ dàng, chỉ vài thao tác là bạn có thể chọn thời gian phù hợp mà không cần chờ
					đợi, tiết kiệm tối đa thời gian.
				</p>
			</div>
		</div>
		<div class="grid-item flex flex-col items-start justify-between">
			<div>
				<div class="flex flex-col sm:flex-row justify-start items-start sm:items-end gap-2">
					<div class="p-2 w-[2rem] h-[2rem] rounded-full bg-slate-200 flex justify-center items-center">
						<i class="fab fa-envira w-[1rem] text-blue-500"></i>
					</div>
					<p class="text-slate-800 text-base font-medium sm:text-lg">Không gian thoải mái</p>
				</div>
				<p class="mt-1 sm:mt-3 text-slate-600 text-sm md:text-base leading-6 text-left">
					Cơ sở vật chất hiện đại, sạch sẽ, thoáng mát, được bố trí khoa học, tạo cảm giác dễ chịu trong suốt
					quá trình trải nghiệm.
				</p>
			</div>
		</div>
		<div class="grid-item flex flex-col items-start justify-between">
			<div>
				<div class="flex flex-col sm:flex-row justify-start items-start sm:items-end gap-2">
					<div class="p-2 w-[2rem] h-[2rem] rounded-full bg-slate-200 flex justify-center items-center">
						<i class="fas fa-headset w-[1rem] text-blue-500"></i>
					</div>
					<p class="text-slate-800 text-base font-medium sm:text-lg">Hậu xét nghiệm</p>
				</div>
				<p class="mt-1 sm:mt-3 text-slate-600 text-sm md:text-base leading-6 text-left">
					Tư vấn chi tiết và hướng dẫn theo dõi sau xét nghiệm, đảm bảo bạn nhận được sự chăm sóc tốt nhất.
				</p>
			</div>
		</div>
		<div class="grid-item flex flex-col items-start justify-between">
			<div>
				<div class="flex flex-col sm:flex-row justify-start items-start sm:items-end gap-2">
					<div class="p-2 w-[2rem] h-[2rem] rounded-full  bg-slate-200 flex justify-center items-center">
						<i class="fas fa-check-square w-[1rem] text-blue-500"></i>
					</div>
					<p class="text-slate-800 text-base font-medium sm:text-lg">Độ chính xác cao</p>
				</div>
				<p class="mt-1 sm:mt-3 text-slate-600 text-sm md:text-base leading-6 text-left">
					Cam kết thực hiện từng xét nghiệm với trách nhiệm cao, đảm bảo chất lượng tốt nhất, mang lại kết quả
					chính xác và đáng tin cậy.
				</p>
			</div>
		</div>
	</div>
</div>

@* {/*FAQ section*/} *@
<div class="mt-8 md:mt-20 md:px-8 lg:px-0 lg:mx-32">
	<div class="grid grid-cols-1 sm:grid-cols-2 gap-2  sm:gap-16">
		<div class="flex flex-col items-start gap-4">
			<h3 class="text-blue-500 text-sm md:text-lg font-medium font-sans">FAQ</h3>
			<h2 class="text-slate-800 text-4xl leading-10">Các câu hỏi thường gặp</h2>
		</div>
	</div>

	<div class="grid grid-cols-1 sm:grid-cols-2 gap-x-2 gap-y-4 sm:gap-2 mt-12">
		<div class="left flex flex-col gap-2">
			<div class="accordion">
				<div
					class="accordion-item px-4 py-3 ring-1 ring-inset bg-blue-100/50 ring-slate-200 rounded-md cursor-pointer">
					<div class="flex justify-between gap-2">
						<h3 class="text-sm sm:text-base text-slate-800 tracking-wide font-medium">MedLab
							cung cấp những
							loại xét nghiệm nào?
						</h3>
						<i class="accordion-icon fas fa-plus-circle"></i>
					</div>
					<div
						class="accordion-content transition-all duration-300 ease-in-out overflow-hidden max-h-0 opacity-0">
						<div class="flex gap-2 items-center px-4 py-3 border-b-[0.5px] text-slate-700">
							MedLab cung cấp đa dạng các loại xét nghiệm, bao gồm xét nghiệm máu, xét nghiệm
							nước
							tiểu, xét nghiệm sinh hóa, miễn dịch, vi sinh, và các gói xét nghiệm định kỳ
							tổng
							quát. Nếu bạn cần tư vấn loại xét nghiệm phù hợp, đội ngũ của chúng tôi luôn sẵn
							sàng hỗ trợ.
						</div>
					</div>
				</div>
			</div>
			<div class="accordion">
				<div
					class="accordion-item px-4 py-3 ring-1 ring-inset bg-blue-100/50 ring-slate-200 rounded-md cursor-pointer">
					<div class="flex justify-between gap-2">
						<h3 class="text-sm sm:text-base text-slate-800 tracking-wide font-medium">Tôi có
							thể
							đặt lịch xét nghiệm như thế nào?</h3>
						<i class="accordion-icon fas fa-plus-circle"></i>
					</div>
					<div
						class="accordion-content transition-all duration-300 ease-in-out overflow-hidden max-h-0 opacity-0">
						<div class="flex gap-2 items-center px-4 py-3 border-b-[0.5px] text-slate-700">
							Bạn có thể đặt lịch xét nghiệm trực tiếp trên website, qua ứng dụng di động của
							MedLab, hoặc gọi điện đến hotline. Đội ngũ nhân viên sẽ hướng dẫn bạn chi tiết
							và
							xác nhận lịch hẹn nhanh chóng.
						</div>
					</div>
				</div>
			</div>
			<div class="accordion">
				<div
					class="accordion-item px-4 py-3 ring-1 ring-inset bg-blue-100/50 ring-slate-200 rounded-md cursor-pointer">
					<div class="flex justify-between gap-2">
						<h3 class="text-sm sm:text-base text-slate-800 tracking-wide font-medium">Kết
							quả
							xét nghiệm có thể nhận được trong bao lâu?</h3>
						<i class="accordion-icon fas fa-plus-circle"></i>
					</div>
					<div
						class="accordion-content transition-all duration-300 ease-in-out overflow-hidden max-h-0 opacity-0">
						<div class="flex gap-2 items-center px-4 py-3 border-b-[0.5px] text-slate-700">
							Thông thường, kết quả sẽ được trả trong vòng 24-48 giờ. Tuy nhiên, một số xét
							nghiệm
							đặc thù có thể cần thời gian lâu hơn. Kết quả có thể được nhận qua email, ứng
							dụng
							di động hoặc trực tiếp tại phòng khám.
						</div>
					</div>
				</div>
			</div>
			<div class="accordion">
				<div class=" accordion-item px-4 py-3 ring-1 ring-inset bg-blue-100/50 ring-slate-200 rounded-md
					cursor-pointer">
					<div class="flex justify-between gap-2">
						<h3 class="text-sm sm:text-base text-slate-800 tracking-wide font-medium">Tôi có
							cần
							nhịn ăn trước khi làm xét nghiệm không?</h3>
						<i class="accordion-icon fas fa-plus-circle"></i>

					</div>
					<div
						class="accordion-content transition-all duration-300 ease-in-out overflow-hidden max-h-0 opacity-0">
						<div class="flex gap-2 items-center px-4 py-3 border-b-[0.5px] text-slate-700">
							Một số xét nghiệm, chẳng hạn như xét nghiệm đường huyết hoặc mỡ máu, yêu cầu bạn
							nhịn ăn từ 8-12 giờ trước khi lấy mẫu. Nhân viên MedLab sẽ tư vấn chi tiết khi
							bạn
							đặt lịch.
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="right flex flex-col gap-2">
			<div class="accordion">
				<div
					class="accordion-item px-4 py-3 ring-1 ring-inset bg-blue-100/50 ring-slate-200 rounded-md cursor-pointer">
					<div class="flex justify-between gap-2">
						<h3 class="text-sm sm:text-base text-slate-800 tracking-wide font-medium">MedLab
							có
							cung cấp dịch vụ xét nghiệm tại nhà không?</h3>
						<i class="accordion-icon fas fa-plus-circle"></i>

					</div>
					<div
						class="accordion-content transition-all duration-300 ease-in-out overflow-hidden max-h-0 opacity-0">
						<div class="flex gap-2 items-center px-4 py-3 border-b-[0.5px] text-slate-700">
							Có, MedLab cung cấp dịch vụ lấy mẫu tại nhà để giúp khách hàng tiết kiệm thời
							gian
							và thuận tiện hơn. Bạn chỉ cần đặt lịch trước, và nhân viên y tế sẽ đến tận nơi
							để
							hỗ trợ.
						</div>
					</div>
				</div>
			</div>
			<div class="accordion">
				<div
					class="accordion-item px-4 py-3 ring-1 ring-inset bg-blue-100/50 ring-slate-200 rounded-md cursor-pointer">
					<div class="flex justify-between gap-2">
						<h3 class="text-sm sm:text-base text-slate-800 tracking-wide font-medium">Chi
							phí
							xét nghiệm tại MedLab là bao nhiêu?</h3>
						<i class="accordion-icon fas fa-plus-circle"></i>
					</div>
					<div
						class="accordion-content transition-all duration-300 ease-in-out overflow-hidden max-h-0 opacity-0">
						<div class="flex gap-2 items-center px-4 py-3 border-b-[0.5px] text-slate-700">
							Chi phí xét nghiệm phụ thuộc vào loại xét nghiệm bạn thực hiện. MedLab cung cấp
							bảng
							giá rõ ràng và minh bạch trên website và tại phòng khám. Chúng tôi cũng có các
							gói
							xét nghiệm với ưu đãi đặc biệt.
						</div>
					</div>
				</div>
			</div>
			<div class="accordion">
				<div
					class="accordion-item px-4 py-3 ring-1 ring-inset bg-blue-100/50 ring-slate-200 rounded-md cursor-pointer">
					<div class="flex justify-between gap-2">
						<h3 class="text-sm sm:text-base text-slate-800 tracking-wide font-medium">Tôi
							cần
							làm gì nếu phát hiện kết quả bất thường?</h3>
						<i class="accordion-icon fas fa-plus-circle"></i>
					</div>
					<div
						class="accordion-content transition-all duration-300 ease-in-out overflow-hidden max-h-0 opacity-0">
						<div class="flex gap-2 items-center px-4 py-3 border-b-[0.5px] text-slate-700">
							Nếu nhận được kết quả bất thường, bạn nên liên hệ ngay với bác sĩ hoặc đội ngũ
							MedLab để được tư vấn và hướng dẫn. Chúng tôi luôn sẵn sàng hỗ trợ bạn trong
							việc
							giải thích kết quả và đề xuất phương pháp xử lý.
						</div>
					</div>
				</div>
			</div>
			<div class="accordion">
				<div
					class="accordion-item px-4 py-3 ring-1 ring-inset bg-blue-100/50 ring-slate-200 rounded-md cursor-pointer">
					<div class="flex justify-between gap-2">
						<h3 class="text-sm sm:text-base text-slate-800 tracking-wide font-medium">MedLab
							có
							hỗ trợ bảo hiểm y tế không?</h3>
						<i class="accordion-icon fas fa-plus-circle"></i>
					</div>
					<div
						class="accordion-content transition-all duration-300 ease-in-out overflow-hidden max-h-0 opacity-0">
						<div class="flex gap-2 items-center px-4 py-3 border-b-[0.5px] text-slate-700">
							Hiện tại, MedLab hỗ trợ thanh toán thông qua một số bảo hiểm y tế đối tác. Bạn
							hãy
							mang theo thẻ bảo hiểm khi đến phòng khám để được hướng dẫn chi tiết.
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	document.addEventListener("DOMContentLoaded", function () {
		let accordions = document.querySelectorAll(".accordion-item");
		console.log(accordions)

		accordions.forEach((accordion) => {
			accordion.addEventListener("click", function () {
				let content = this.querySelector(".accordion-content");
				let icon = this.querySelector(".accordion-icon");

				console.log(content, icon)
				// Toggle hiển thị nội dung
				if (content.classList.contains("max-h-0")) {
					content.classList.remove("max-h-0", "opacity-0")
					content.classList.add("max-h-[500px]", "opacity-100")
				}
				else {
					content.classList.remove("max-h-[500px]", "opacity-100")
					content.classList.add("max-h-0", "opacity-0")
				}

				// Đổi icon (+ thành -)
				if (icon.classList.contains("fa-plus-circle")) {
					icon.classList.replace("fa-plus-circle", "fa-minus-circle");
				} else {
					icon.classList.replace("fa-minus-circle", "fa-plus-circle");
				}
			});
		});
	});

</script>